<link rel="stylesheet" href="~/Content/StyleSheet.css" />
@{
    ViewBag.Title = "Registrering lyckad";
}
<div class="text-center">
    <img  src="~/Content/Images/success-icon.png" alt="Success-icon" />
</div>
<div class="text-center">
    <br />
    <h2>Tack för din registrering</h2>
</div>

<div class="text-right">
    @Html.ActionLink("Tillbaka till registrering", "Create")
</div>


